* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/img.jpg);
}
.app-wrapper {
  background-color: white;
  min-width: 500px;
  min-height: 500px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
}
.title {
  color: tomato;
  text-align: center;
  background-color: white;
}
.firstname,
.lastname,
.email,
.password {
  margin: 20px;
  color:darkblue;
  font-size: 15px;
}
.password {
  margin-bottom: 40px;
}
.input {
  height:32px;
  font-size:20px;
  outline: none;
  width:100%;
  border-top-style:none;
  border-left-style:none;
  border-right-style: none;
  border-bottom-style: 2px solid black;
  margin-bottom:10px;
  background-color: white;
}
.error {
  color:tomato;
  background: white;
  background-color: white;
}
.submit{
  display: flex;
  text-transform: uppercase;
  font-size:20px;
  width:500px;
  border-radius:5px;
  justify-content:center;
  align-items:center;
  color:white;
  padding:10px 60px;
  background: linear-gradient(to left, #4b79a1, #283e51);
  margin-top:90px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}
button:active{
  transform: translateY(2px);
}
.form-success{
  display: flex;
  justify-content: center;
  margin-top:250px;
  min-width:370px;
  color:white;
}
.form-wrapper{
  background: white;
}
.submit-wrapper{
  background:white;
}
.text-block{
  padding: 60px;
}
.caption {
  color:white;
  margin-left: 90px;
  font-family: 'Roboto', sans-serif;
  font-size:50px;
}
.smallcaption {
  color:white;
  margin-left: 90px;
  font-family: 'Roboto', sans-serif;
  font-size:15px;
}
.terms {
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  color:grey;
  margin-top: 15px;
}
.termsbox {
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  color:red;
  margin-top: 15px;
}